@charset "UTF-8";

/* Main Colors */

/* Fonts */

/*container*/

/*styles*/

/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='search'] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:focus::placeholder {
  opacity: 0;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

svg {
  display: block;
  fill: currentColor;
}

[hidden] {
  display: none;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-ms-clear {
  display: none;
}

:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}

::selection {
  color: #fff;
  background-color: #1D0D0B;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.cover-pic,
.contain-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-pic {
  object-fit: cover;
}

.contain-pic {
  object-fit: contain;
}

.footer {
  margin-top: auto;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */

.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

.noUi-connect {
  height: 100%;
  width: 100%;
}

.noUi-origin {
  height: 10%;
  width: 10%;
}

/* Offset direction
 */

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */

.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */

[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.body {
  background: #fff;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 1.2;
  scroll-behavior: smooth;
}

.body.--frozen {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
  width: 100%;
}

.hidden {
  display: none;
}

.content {
  position: relative;
  z-index: 10;
}

.text {
  line-height: 26px;
}

a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

::placeholder {
  color: #AAA3B4;
  transition: .4s;
}

:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

form {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2 {
  font-weight: 500;
  font-size: 82px;
  line-height: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 56px;
}

.svgsprite {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}

.svgsprite._arrow {
  width: 15px;
  height: 9px;
}

.svgsprite._back {
  width: 24px;
  height: 24px;
}

.svgsprite._basket {
  width: 31px;
  height: 27px;
}

.svgsprite._burger {
  width: 18px;
  height: 13px;
}

.svgsprite._catalog-close {
  width: 14px;
  height: 15px;
}

.svgsprite._close {
  width: 14px;
  height: 15px;
}

.svgsprite._email {
  width: 20px;
  height: 16px;
}

.svgsprite._fire {
  width: 18px;
  height: 21px;
}

.svgsprite._header-users {
  width: 24px;
  height: 27px;
}

.svgsprite._mobile-arrow {
  width: 15px;
  height: 10px;
}

.svgsprite._mobile-burger {
  width: 19px;
  height: 12px;
}

.svgsprite._mobile-email {
  width: 24px;
  height: 24px;
}

.svgsprite._mobile-i1 {
  width: 19px;
  height: 21px;
}

.svgsprite._mobile-phone {
  width: 24px;
  height: 24px;
}

.svgsprite._mobile-user {
  width: 17px;
  height: 19px;
}

.svgsprite._nav-drop {
  width: 10px;
  height: 6px;
}

.svgsprite._phone {
  width: 18px;
  height: 18px;
}

.svgsprite._search {
  width: 18px;
  height: 18px;
}

.--flex {
  display: flex;
  flex-wrap: wrap;
}

.--jcsb {
  justify-content: space-between;
}

.--jcfe {
  justify-content: flex-end;
}

.--jccn {
  justify-content: center;
}

.--aicn {
  align-items: center;
}

.--aife {
  align-items: flex-end;
}

/*
Основной контейнер
*/

.content {
  overflow: hidden;
}

.header-top {
  background-color: #00A7CD;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.header-top b {
  font-weight: 700;
}

.header__btns {
  display: flex;
  align-items: center;
}

.header__link {
  font-size: 14px;
  font-weight: bold;
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: #fff;
}

.header__link svg {
  margin-right: 5px;
}

.header__enter {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  background-color: #F24941;
}

.header-middle {
  padding-top: 40px;
}

.header__logo {
  margin-right: 30px;
}

.header__catalog {
  height: 40px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A7CD;
  color: #fff;
  width: 130px;
  cursor: pointer;
  margin-right: 15px;
}

.header__catalog svg {
  margin-right: 5px;
  transform: translateY(-1px);
}

.header__catalog.active .header__catalog-close {
  display: block;
}

.header__catalog.active .header__catalog-burger {
  display: none;
}

.header__catalog .header__catalog-close {
  display: none;
}

.header__search {
  flex-grow: 1;
  position: relative;
  margin-right: 30px;
}

.header__search input {
  width: 100%;
  padding-left: 15px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #D1D1D1;
}

.search__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A7CD;
  border-radius: 6px;
}

.header__user {
  text-align: center;
  font-size: 14px;
  margin-right: 15px;
}

.header__user svg {
  margin: 0 auto 5px;
}

.basket__ico {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.basket__ico svg {
  margin-right: 6px;
}

.basket__number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #F24941;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-bottom {
  padding-top: 35px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link--drop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link--drop svg {
  margin-left: 12px;
}

.nav__link--stock {
  display: flex;
  justify-content: center;
  color: #F24941;
}

.nav__link--stock svg {
  margin-left: 5px;
  transform: translateY(-4px);
}

.header__menu {
  position: absolute;
  top: 183px;
  left: 0;
  width: 100%;
  filter: drop-shadow(0px 4px 11px rgba(0, 0, 0, 0.16));
  background-color: #fff;
  z-index: 200;
  display: none;
}

.header__menu.active {
  display: block;
}

.header__menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: calc((100vw - 1160px) / 2);
  background-color: #F5F5F5;
  height: 100%;
}

.menu__left {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
  background-color: #F5F5F5;
  width: 270px;
}

.menu__item {
  padding: 10px 10px;
  border-radius: 12px 0 0 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.menu__item.active {
  background-color: #fff;
  color: #00A7CD;
}

.menu__right {
  width: calc(100% - 270px);
  padding: 30px 34px;
}

.menu__tab {
  display: none;
  flex-wrap: wrap;
}

.menu__tab.active {
  display: flex;
}

.menu__col {
  width: calc(33.33% - 30px);
  margin-bottom: 30px;
}

.menu__title {
  font-weight: 700;
  margin-bottom: 15px;
}

.menu__link {
  display: block;
  margin-bottom: 10px;
  line-height: 136%;
}

.header.--mobile {
  display: none;
}

.mobile__menu {
  display: none;
}

.mobile__menu-ico {
  height: 24px;
}

.mobile__catalog {
  position: fixed;
  left: 0;
  top: 0;
  width: 325px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  height: 100%;
  padding: 48px 25px;
  overflow: hidden;
  background-color: #fff;
  transform: translateX(-100%);
  transition: .4s;
}

.mobile__catalog.active {
  transform: translateX(0);
}

.mobile__catalog-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 38px;
}

.mobile__catalog-close {
  position: absolute;
  top: 58px;
  right: 43px;
}

.mobile__catalog-panel {
  overflow-y: auto;
  height: calc(100vh - 111px);
  background-color: #fff;
  width: 100%;
}

.mobile__catalog-link {
  padding: 10px 10px;
  margin-bottom: 15px;
  padding-right: 40px;
  background: url(../img/arrow-right.svg) no-repeat right 10px top 5px/24px auto;
  display: block;
}

.mobile__catalog-link.active {
  background-color: #F5F5F5;
  color: #00A7CD;
}

.mobile__catalog-second-tab {
  display: none;
}

.mobile__catalog-second-tab.active {
  display: block;
}

.mobile__catalog-third-tab {
  display: none;
}

.mobile__catalog-third-tab.active {
  display: block;
}

.mobile__catalog-back {
  font-weight: 500;
  color: #00A7CD;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.mobile__catalog-back svg {
  margin-right: 5px;
}

.mobile__catalog-second {
  position: absolute;
  top: 111px;
  transform: translateX(140%);
  transition: .5s;
  z-index: 10;
  width: calc(100% - 30px);
}

.mobile__catalog-second.active {
  transform: translateX(0);
}

.mobile__catalog-third {
  position: absolute;
  top: 111px;
  transform: translateX(140%);
  transition: .5s;
  z-index: 20;
  width: calc(100% - 30px);
}

.mobile__catalog-third.active {
  transform: translateX(0);
}

@media (max-width: 830px) {
  .mobile__menu {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .mobile__menu .container {
    display: flex;
    justify-content: space-between;
  }

  .mobile__menu .header__basket {
    transform: translateY(-8px);
  }

  .mobile__menu-link {
    text-align: center;
  }

  .header.--desktop {
    display: none;
  }

  .header.--mobile {
    display: block;
    padding-top: 15px;
  }

  .header.--mobile .--flex {
    flex-wrap: nowrap;
  }

  .header__city {
    color: #00A7CD;
  }

  .header__city b {
    font-weight: bold;
  }

  .header__logo {
    max-width: 128px;
    margin-right: 0px;
  }

  .header__link {
    margin-right: 15px;
  }

  .header__link:last-child {
    margin-right: 0px;
  }

  .header__link svg {
    margin-right: 0px;
  }

  .mobile__burger {
    margin-left: 5px;
  }

  .header__enter {
    width: 100%;
    color: #fff;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
  }

  .header__search {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .nav__link {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 15px;
    font-size: 14px;
  }

  .header__city {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .header__city svg {
    margin-left: 10px;
  }
}

@media (max-width: 410px) {
  .header__logo {
    max-width: 110px;
  }

  .header__city {
    font-size: 11px;
  }
}
/*# sourceMappingURL=maps/common.css.map */
